/AICaptchaSolver
AICaptchaSolver
__pycache__
/__pycache__
/bin
bin
/include
include
/lib
lib
/proxy
proxy
/temp
temp
/pyvenv.cfg
/r.png
/RecaptchaSolver.py
/test.py
/.env
slack-post
/slack-post
slack-post/*
/slack-post/*
Scripts
/Scripts
b.png
bcsh.crx
e.png
slack_token.txt